# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
**/.venv/
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project
.pytest_cache/
*.pyc
.scsh_history
test_send_file*.py
gp.jar
tools/gp.jar
